{% macro show_article(article_id, author_username, title, date, content, theme, likes, dislikes, article) %}
<div class="news-card">
    <div class="card-infos">
        <i class='bx bx-user-circle' id="card-profilepicture"></i>
        <h3 class="card-username">{{ author_username }}</h3>
        <h2 class="card-theme">{{ theme }}</h2> <i class='bx bx-basketball' id="sport-logo"></i>
        <h3 class="card-date">{{ date.strftime("%d.%m.%Y") }}</h3>
    </div>
    <h1 class="card-title">{{ title }}</h1>
    <p class="card-article">{{ content }}</p>

    <button class="comment-toggle-btn" onclick="toggleCommentForm({{ articleId }})"><i class='bx bx-comment'></i></button>

    <div class="comment-form-container" id="comment-form-{{ article_id }}" style="display: none;">
        <form method="post" action="/post_comment" onsubmit="postComment(event, {{ article_id }})">
            <textarea name="comment" placeholder="Write your comment" required></textarea>
            <input type="hidden" name="article_id" value="{{ article_id }}">
            <button type="submit">Post Comment</button>
        </form>
    </div>

</div>
{% endmacro %}

    


{% macro show_comment( article_id, author_id, date, content, likes, dislikes) %}
<div class="news-card">
    <div class="card-infos">
        <i class='bx bx-user-circle' id="card-profilepicture"></i><h3 class="card-username">{{ author_name }}</h3>
        <h2 class="card-theme">{{ theme }}</h2>
        <h3 class="card-date">{{ date.strftime("%d.%m.%Y") }}</h3>
    </div>
    <h1 class="card-title">{{ title }}</h1>
    <p class="card-article">{{ content }}</p>
</div>
{% endmacro %}

{% macro show_user(username,firstname, name, email,admin, blocked) %}
    <tbody>
    
        <td class="username">{{ username }}</td>
        
        <td>{{ firstname }}</td>

        <td>{{ name }}</td>

        <td>{{ email }}</td>
        
        <td>{{ admin }}</td>

        <td>{{ blocked }}</td>
        <td>
            <a class="btn btn-outline-dark mx-2" href="/users/block/{{ username }}"><i class='bx bx-lock-alt' id="block_button"></i></a>
        </td>

        <td>
        <a class="btn btn-outline-dark mx-2" href="/users/unblock/{{ username }}"><i class='bx bx-lock-open-alt' id="unblock_button"></i></a>

        </td>
    </tbody>
{% endmacro %}