
{% block content %}
<head>
    <link rel="stylesheet" href="/static/homepage.css">
</head>

<body>

    <!-- <header class="header">
        <a href="#" class="logo">WeShare</a>
    
        <input type="checkbox" id="check">
    
        <label for="check" class="icons">
            <i class='bx bx-menu' id="menu-icon"></i>
            <i class='bx bx-x' id="close-icon"></i>
        </label>
    
        <nav class="navbar">
            <a href="/articles/homepage/user_themes/data" style="--i:0;">Home</a>
            
            <a href="#" id="search-toggle" style="--i:1;">Search <i class='bx bx-search'></i></a>
            <div id="search-menu" class="search-menu" style="display: none;">
                <label>
                    <input class="navbar-search-option" type="radio" name="search-option" value="theme" onclick="toggleSearchOption('theme')"> By Theme
                </label>
                <label> 
                    <input class="navbar-search-option" type="radio" name="search-option" value="date" onclick="toggleSearchOption('date')"> By Date
                </label>
                <div id="search-theme" style="display: none;">
                    <select name="theme" id="search-article-theme">
                        <option value="" disabled selected>Choose a theme</option>
                        <option value="sport">Sport</option>
                        <option value="culture">Culture</option>
                        <option value="music">Music</option>
                        <option value="cinema">Cinema</option>
                        <option value="politics">Politics</option>
                        <option value="economics">Economics</option>
                        <option value="health">Health</option>
                        <option value="environment">Environment</option>
                        <option value="social">Social</option>
                        <option value="technology">Technology</option>
                        <option value="international">International</option>
                    </select>
                </div>
                <div id="search-date" style="display: none;">
                    <input type="date" id="search-article-date">
                </div>
                <button id="search-button" onclick="performSearch()"><i class='bx bx-search'></i></button>
            </div>
    
            <a href="/articles/create" style="--i:2;">I Share</a>
            <a href="/articles/my_articles" style="--i:3;">My articles</a>
            <a href="/users/my_profile" style="--i:4;">My Profile</a>
        </nav>
    </header> -->

    <h1>Your profile</h1>
    <div class="user-form-group">
        <label class="edit_article_label" id="edit_article_label_name" for="user_name">Name</label>
        <input type="text" class="form-control" id="edit_user_name"
               name="name" placeholder="{{name}}" value="{{name}}"/>
    </div>

    <div class="user-form-group">
        <label class="edit_article_label" id="edit_article_label_firstname" for="user_firstname">First Name</label>
        <input type="text" class="form-control" id="edit_user_firstname"
               name="firstname" placeholder="{{firstname}}" value="{{firstname}}"/>
    </div>

    <div class="user-form-group">
        <label class="edit_article_label" id="edit_article_label_username" for="user_username">Username</label>
        <input type="text" class="form-control" id="edit_user_username"
               name="username" placeholder="{{username}}" value="{{username}}"/>
    </div>

    <div class="user-form-group">
        <label class="edit_article_label" id="edit_article_label_email" for="user_email">Email</label>
        <input type="email" class="form-control" id="edit_user_email"
               name="email" placeholder="{{email}}" value="{{email}}"/>
    </div>
    
    <div class="user-form-group">
        <label class="edit_article_label" id="edit_article_label_interests" for="user_interests">Interests</label>
        <input type="text" class="form-control" id="edit_user_interests"
               name="interests" placeholder="{{Interests}}" value="{{interests}}"/>
    </div>
</body>

    <button class="btn btn-primary" id="edit_user_button">Edit</button>
    <button class="btn btn-primary" id="delete_user_button">Delete</button>
    <button class="btn btn-primary" id="logout_button">Logout</button>

   

{% endblock %}